<p style="text-align: center;">
  <a href="https://gitlab.com/kirkrader">
    <img src="/gitlab-logo-gray-stacked-rgb.png" alt="GitLab" border="0" width="50%" height="50%">
  </a>
</p>

<p>
  <a href="http://store.cdbaby.com/cd/kirkrader" target="cdbaby" style="display:inline-block;background:url(http://CDBaby.name/k/i/kirkrader_small.jpg) 117px 9px no-repeat, url(https://content.cdbaby.com/img/links/link-artwork-horz-dark-buy-album.png) no-repeat;background-size:100px, 100%;width:225px;height:120px;" title="Kirk Rader: Undecidable" alt="Kirk Rader: Undecidable" ></a>
</p>

